@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&family=Roboto:wght@100&display=swap');

:root {
    --mainBgColor: #0d1117;
    --secondBgColor: #222121c2;
    --mainColor: #fff;
    --discColor: #ddd;
    --secondColor: linear-gradient(90deg, #4ca5ff 2.34% , #b673f8 100.78%);
    --btnBgColor: #2190ff;
    --radius: 6px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: "open Sans" , sans-serif;
    font-family: "Rubik" , sans-serif;
    font-family: "Tajwal" , sans-serif;
}
.winner{
    position: absolute;
    inset: 0;
}
.winner.hidden{
    display: none;
}
.app{
    height: 100vh;
    display: grid;
    text-align: center;
    place-items: center;
    background-color: var(--mainBgColor);
    color: var(--mainColor);
}
.app .header {
    margin: 15px 0px;
}
.app .header .title{
   background: var(--secondColor);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.app .card {
    min-width: 300px;
    max-width: 350px;
    background-color: var(--secondBgColor);
    padding: 30px;
    border-radius: var(--radius);
    margin: auto;
}
.app .card .card-content .inputs{
    display: flex;
   flex-wrap: wrap;
   justify-content: center; 
   gap: 10px;
}

.app .card .card-content .typing{
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.app .card .card-content .inputs input{
    width: 40px;
    height: 35px;
    color: aqua;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: var(--radius);
}

.app .card .card-content .info{
    margin: 20px 0px;
}
.app .card .card-content .info p{
    color: var(--discColor);
    font-size: 12px;
    text-align: center;
}
.app .card .card-content .info p > .guess-count{
    color: var(--btnBgColor);
}
.app .card .card-content button{
    background-color: var(--btnBgColor);
    width: 100%;
    padding: 10px 0px;
    color: var(--mainColor);
    cursor: pointer;
    font-weight: bold;
    border-radius: var(--radius);
    position: relative;
    z-index: 999;
}
.emojy{
    color: yellow;
}
:where(input, button){
    border-width: 0;
    outline-width: 0;
}
